/*!
Theme Name: nde
Author: iEngineering
Author URI: https://iengineering.com/
Description: A WordPress theme developed using _s, bootstrap, and Gutenberg blocks.
Requires at least: 5.3
Tested up to: 5.6
Requires PHP: 5.6
Version: 1.0.5
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Text Domain: iEngineering

This theme, like WordPress, is licensed under the GPL.
Use it to make something cool, have fun, and share what you've learned.

nde is based on Underscores https://underscores.me/, (C) 2012-2020 Automattic, Inc.
Underscores is distributed under the terms of the GNU GPL v2 or later.

Normalizing styles have been helped along thanks to the fine work of
Nicolas Gallagher and Jonathan Neal https://necolas.github.io/normalize.css/
*/

/**************** Global Styles ****************/

html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
}
body {
  padding: 0;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  -webkit-text-size-adjust: 100%;
}
h1 {
  font-size: 24px !important;
}
h2 {
  font-size: 22px !important;
}
h3 {
  font-size: 20px !important;
}
h4 {
  font-size: 18px !important;
}
.font-12 {
  font-size: 12px;
}
.fw-6 {
  font-weight: 600;
}
.font-14,
p,
.page_content ul,
.form-control,
.wpcf7-form,
.entry-content li {
  font-size: 14px;
}
.wpcf7-form .form-row,
.wpcf7-form .row {
  padding: 0 8px;
}
.form-page-header {
  background-color: #c7c7c7;
  padding: 8px 10px;
  font-size: 14px;
  margin-top: 5px;
  height: 32px;
  line-height: 16px;
}
.sub-list-ul {
  padding-left: 70px;
}
.default-transform {
  text-transform: none !important;
}
.mt-10 {
  margin-top: 10px !important;
}
.contact-us {
  color: #333 !important;
  text-decoration: none !important;
}
.contact-us:hover {
  text-decoration: underline !important;
}
.filtered-content .card:not(:nth-child(3n)) {
  margin-right: 0.4%;
}
p {
  margin-bottom: 10px !important;
}
a:focus {
  outline: none;
}
.disable-link {
  pointer-events: none;
}
#menu-item-12 {
  display: none !important;
}
#struct-elem .col-header,
#tgt-of-inv .col-header {
  margin-bottom: 10px;
}
.mb-5p {
  margin: 3px 0px !important;
}
.fa-angle-down {
  font-size: 14px !important;
  position: relative;
  top: 2px;
}
.padding-left-5 {
  padding-left: 5px;
}
input:focus {
  outline: none;
}
.searchForm {
  background: #e9e9e9;
  padding: 8px;
  font-size: 14px;
}
.searchForm .img-btn {
  width: auto;
  padding: 8px;
}
.align-item-center {
  align-items: center;
}
.btn-primary,
.btn-primary:hover {
  color: #fff;
  background-color: #2a69b1 !important;
  border-color: #2a69b1 !important;
}
.wpcf7-submit {
  background: #c7c7c7 !important;
  border-color: #c7c7c7 !important;
  color: #444343;
  font-size: 14px;
}
.nde-container {
  margin: 0 auto;
  width: 75%;
}
.col-header p {
  font-size: 16px;
  font-weight: 500;
}
.site-branding img {
  image-rendering: -webkit-optimize-contrast;
  position: relative;
  top: 9px;
}
.card-img-top {
  width: 45px !important;
  height: auto;
}
.page-list-ul {
  margin-bottom: 10px;
  line-break: anywhere;
}
.reset-form {
  border: none;
  outline: none;
  color: #fff;
  font-weight: 500;
  font-size: 14px;
  padding: 0px 8px;
  cursor: pointer;
}
.asset-type li input {
  position: relative;
  top: 2px;
}
.asset-type li a {
  text-decoration: none;
}
.box-icon {
  display: inline-flex;
  align-items: center;
}
.disclaimer:hover {
  background: transparent;
}
.divNotification {
  position: relative;
  z-index: 3050;
  display: block;
}

.divNotificationMessage {
  position: fixed;
  color: white;
  z-index: 1000000;
  width: 100%;
  line-height: 30px;
  font-size: 9pt;
  top: 0px;
  padding-left: 5px;
}
.logged-in .divNotificationMessage {
  top: 32px;
}
.RgbBeta {
  background-color: #5FB332;
  border: 1px solid #5FB332;
}
.divNotificationMessageGap {
  height: 30px;
}
.sReportBug {
  display: block;
  position: absolute;
  top: 0px;
  right: 30px;
}
.CloseNotification {
  background: url(../nde/assets/images/_white_close.png);
  width: 16px;
  text-decoration: none;
  height: 16px;
  display: block;
  position: absolute;
  top: 6px;
  right: 5px;
}
.info-img {
  float: right;
  position: relative;
  top: 1px;
  width:22px;
}
.CloseNotification {
  background: url(../nde/assets/images/_white_close.png) !important;
}
.sReportBug a {
  color: white;
  text-decoration: none;
}
.heading4 {
  padding: 4px 8px !important;
  background-color: #bed1e7;
  color: #000;
  font-size: 14px;
  margin-top: 5px;
}
.jsgrid-pager {
  padding-top: 3px !important;
}
/*.heading4:not(:first-of-type) {
  text-transform: lowercase;
}*/
.heading4:not(:first-of-type)::first-line {
  text-transform: capitalize;
}
.hamburger-menu img {
  display: none;
}
.hamburger-menu.collapsed .hamburger-icon {
  display: block;
}
.hamburger-menu:not(.collapsed) .close-icon {
  display: block;
}
.list-item {
  font-size: 14px;
  padding-left: 35px;
  margin-bottom: 10px;
  list-style: none;
}
ul.list-item li::before {
  content: '\2022';
  color: #f08000;
  font-weight: bold;
  display: inline-block;
  width: 14px;
  margin-left: -1em;
  font-size: 23px;
  line-height: 11px;
  position: relative;
  top: 2px;
}
#page {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%;
}
figcaption {
  font-size: 14px;
}
.disableFilter {
  pointer-events: none;
  opacity: 0.5;
}
.hide,
.form-container-mobile,
.reset-form,
.entry-footer,#datess{
  display: none;
}
/*.jsgrid-pager-container {
  display: none !important;
}*/
.display {
  display: block !important;
}
#tgt-of-inv ol,
#struct-elem ol,
#collapseThree ol {
  padding-left: 23px;
}
.page-list-ul {
  padding-left: 28px;
  padding-right: 10px;
}
.tab-pane small {
  display: block;
  font-size: 13px;
}

.styled-table th,
.styled-table td,
.is-style-regular td {
  padding-left: 5px;
  position: relative;
}
.styled-table table,
.styled-table th,
.styled-table td {
  border: 1px solid;
}
.styled-table td .right-text,
.is-style-regular td .right-text {
  position: absolute;
  right: 4px;
  top: 22%;
}
#clear-input img:hover {
  cursor: pointer;
}
.styled-list {
  list-style: none;
  padding-left: 9px;
}
.styled-list ul {
  list-style: none;
}
.tab-pane figcaption {
  display: block !important;
}
.list-style-disk .list-disk {
  list-style-type: disc;
}
/**************** Header ****************/
.top-menu {
  overflow-x: hidden;
  text-align: right;
  font-size: 9pt;
}
.top-right-menu {
  list-style: none;
  right: -10px;
  padding: 0;
  margin-bottom: 0;
  display: flex;
  justify-content: flex-end;
}
.top-right-menu li:hover {
  background-color: #e9e9e9;
}
.top-right-menu li:nth-child(2) a {
  border: 0;
}
.top-right-menu li:nth-child(2):hover .sub-menu {
  display: block;
}
.top-right-menu li {
  padding: 5px 0;
}
.top-right-menu li a {
  border-right: 1px solid;
  color: #000;
  text-decoration: none;
}
.top-right-menu > li > a {
  padding: 0 10px;
}

#menu-item-769 > a {
  pointer-events: none;
  padding-right: 5px;
}
.left_sidebar {
  margin-top: 5px;
}
.left_sidebar a {
  text-decoration: none;
  background-color: #c7c7c7;
  color: #000;
  padding: 8px 10px;
  font-size: 14px;
  margin-bottom: 5px;
  height: 32px;
  line-height: 16px;
  display: block;
}
.left_sidebar a:hover,
.left_sidebar a.active {
  background-color: #999898;
  color: white;
}
.flex-wrap-inherit {
  flex-wrap: initial;
}
#pageSize {
  margin-top: 6px !important;
  font-size: 14px !important;
}
#codogrid-grid-51 .codo-items-info,
#codogrid-grid-50 .codo-items-info {
  top: 4px;
}
.sub-menu {
  display: none;
  list-style: none;
  position: absolute;
  padding: 0;
  right: 0;
  top: 26px;
  background: #e9e9e9;
  width: 220px;
  z-index: 1;
  text-align: left;
}
.tooltip-inner {
  background-color: #fff8de !important;
  border: 1px solid #edcf66;
  color: #000 !important;
  max-width: 400px;
  text-align: left;
}
.jsgrid-pager-page a,
.jsgrid-pager-nav-button a {
  color: #a6a5a5;
}
.jsgrid-pager {
  text-align: right;
  font-size: 14px;
}
[type='radio']:checked,
[type='radio']:not(:checked) {
  /* position: absolute;
  left: -9999px; */
  margin-right: 4px;
}
[type='radio']:checked + label,
[type='radio']:not(:checked) + label {
  position: relative;
  padding-left: 20px;
  cursor: pointer;
  line-height: 20px;
  display: none;
  color: #666;
  background: transparent;
  width: 14px;
  height: 14px;
  top: 1px;
}
/* [type='radio']:checked + label:before,
[type='radio']:not(:checked) + label:before {
   content: ''; 
  position: absolute;
  left: 0;
  top: 1px;
  width: 15px;
  height: 15px;
  border: 1px solid #4f4f4f;
  border-radius: 100%;
  background: #fff;
}
[type='radio']:checked + label:after,
[type='radio']:not(:checked) + label:after {
   content: ''; 
  width: 9px;
  height: 9px;
  background: #0075ff;
  position: absolute;
  top: 4px;
  left: 3px;
  border-radius: 100%;
  -webkit-transition: all 0.2s ease;
}
[type='radio']:checked + label:before {
  border: 1px solid #0075ff;
}
[type='radio']:not(:checked) + label:after {
  opacity: 0;
  -webkit-transform: scale(0);
  transform: scale(0);
}
[type='radio']:checked + label:after {
  opacity: 1;
  -webkit-transform: scale(1);
  transform: scale(1);
} */
.pagination {
  justify-content: flex-end;
  margin-top: 10px;
}
.navigation.pagination > h2 {
  display: none;
}
a.page-numbers {
  padding: 0 5px;
  color: #a9a9a9;
}
.bs-tooltip-right .arrow::before {
  border-right-color: #edcf66 !important;
}
.bs-tooltip-left .arrow::before {
  border-left-color: #edcf66 !important;
}
.bs-tooltip-top .arrow::before {
  border-top-color: #edcf66 !important;
}
.bs-tooltip-bottom .arrow::before {
  border-bottom-color: #edcf66 !important;
}
.sub-menu li {
  padding: 1px 8px;
  border-bottom: 1px #a9a9a9 solid;
}
.sub-menu li:hover {
  background: #dddddd;
}
.sub-menu a {
  border-right: 0 !important;
}
#fhwaheader {
  background: #063472 url(../nde/assets/images/bg_headersm.png) left top
    repeat-x;
  text-align: left;
}

.tablecolumn-1 .aa-headings,
.tablecolumn-2 .aa-headings,
.post-252 .aa-headings {
  margin-top: 0px;
  margin-bottom: 4px;
}
.tablecolumn-2 {
  margin-left: 5px !important;
}
.menu-section {
  background: #e9e9e9;
}
#primary-menu,
#primary-menu ul {
  padding: 0px;
  list-style: none;
}
#primary-menu {
  display: inline-block;
  margin-bottom: 0px;
}
#primary-menu > .current-menu-ancestor,
#primary-menu > .current_page_item,
#primary-menu > .current_page_item:hover {
  background: #767676 !important;
}
#primary-menu > .current-menu-ancestor > a,
#primary-menu > .current_page_item > a {
  color: white;
}

#primary-menu:after {
  content: '';
  clear: both;
}
#primary-menu > li {
  display: inline-block;
  position: relative;
  padding: 6px 10px;
}
#primary-menu > li:hover {
  background: #ddd;
  color: #333333;
}
#primary-menu > li:hover ul.sub-menu {
  left: -1px;
  top: 29px;
  border-left: 3px solid #767676;
  position: absolute;
  min-width: 130px;
  box-shadow: 0 5px 10px rgb(0 0 0 / 20%);
}
#primary-menu ul.sub-menu > li:hover ul.sub-menu {
  left: 97%;
  top: -2%;
}
ul.sub-menu li {
  border-bottom: 1px solid #ccc;
  white-space: nowrap;
  background: #e9e9e9;
}
ul.sub-menu li a {
  display: block;
  padding: 6px 8px;
}
select:active,
select:hover,
select {
  outline: none;
  color: #000 !important;
}

ul.sub-menu li:hover {
  background: rgb(224, 224, 224);
}

#primary-menu > li > a {
  color: #000;
  display: inline-block;
  position: relative;
}
#primary-menu li a {
  color: #000;
  font-size: 12px;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}
#primary-menu li a {
  text-decoration: none;
}
.fhwacontainer {
  border: #f00 0px solid;
  margin: auto;
  width: 75%;
  padding: 5px 0;
}
.border-grey {
  border: 1px solid #d6d6d6;
}
.img-btn {
  background: #c7c7c7;
  padding: 7px;
  width: 35px;
  outline: none;
  border: none;
  font-size: 12px;
  text-align: center;
  margin-left: 4px;
}
#fhwaheader .socialbtns {
  border: #f00 0px solid;
  display: block;
  float: right;
  margin-top: 5px;
}
#fhwaheader ul.dropdown {
  list-style: none;
  margin: 5px 0;
  padding: 0px;
  float: left;
  position: relative;
  z-index: 597;
}
#fhwaheader ul.dropdown .arrow {
  background: url(../nde/assets/images/imgarrow2.png) bottom center no-repeat;
  margin-right: 8px;
  background-position: 20px 23px;
}
.mncontact {
  margin-right: 8px !important;
}
.social-icons {
  margin-top: -1px;
}
.social-icons a {
  margin-right: 4px !important;
}
.social-icons a:last-child {
  margin-right: 0px !important;
}
#fhwaheader ul.dropdown li {
  display: inline;
  margin: 0px;
  padding: 0px;
  float: left;
  line-height: 1.3em;
  vertical-align: middle;
  zoom: 1;
}
#fhwaheader ul.dropdown li a {
  color: #fff;
  float: left;
  margin: 0px;
  padding: 0px;
  text-decoration: none;
}
#fhwaheader ul.dropdown ul {
  left: 0px;
  padding-left: 0px;
  position: absolute;
  top: 30px;
  visibility: hidden;
  z-index: 598;
}
#fhwaheader ul.dropdown ul li {
  border-right: 0px;
  text-align: left;
}
ul.dropdown ul li {
  float: none;
}
#fhwaheader ul.dropdown ul li a {
  background: #fff;
  color: #383838;
  border-bottom: #c7c7c7 1px solid;
  border-left: #c7c7c7 1px solid;
  border-right: #c7c7c7 1px solid;
  font-size: 14px;
  padding-left: 3px;
  padding-right: 3px;
  text-transform: none;
  width: 240px;
  padding: 5px 3px;
}
#fhwaheader ul.dropdown ul li a:hover {
  background: #2d5d97;
  color: #fff;
}
#fhwaheader ul.dropdown li a {
  color: #fff;
  float: left;
  margin: 0px;
  padding: 0px;
  text-decoration: none;
}
.search-form {
  position: relative;
  top: -1px;
  display: inline-grid;
}
#fhwaheader ul.dropdown li a span {
  display: block;
  float: none;
  font-size: 14px;
  padding: 2px 8px 6px 0px;
  font-weight: 400;
}
#fhwaheader ul.dropdown li:hover > ul {
  visibility: visible;
}
ul.dropdown li:hover {
  cursor: default;
  position: relative;
  z-index: 599;
}
.mobile-menu-plus-icon {
  position: absolute;
  right: 0;
  top: 14px;
}
.error {
  color: red;
}
.mobile-menu-plus-icon {
  display: none;
}
/**************** Home Page ****************/
.column1,
.column2,
.column3 {
  height: 250px;
  background-size: cover;
  background-repeat: no-repeat;
  margin-left: 0 !important;
  display: flex;
  justify-content: center;
  align-items: center;
}
.column1 a,
.column2 a,
.column3 a {
  text-decoration: none;
}
.column1 figure,
.column2 figure,
.column3 figure {
  background: rgb(21 70 115 / 80%);
  width: 115px;
  height: 115px;
  border-radius: 50%;
  margin: 0;
  position: relative;
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.column1 figure:hover,
.column2 figure:hover,
.column3 figure:hover {
  background: rgb(21 70 115);
}
.column1 figcaption,
.column2 figcaption,
.column3 figcaption {
  margin-top: 0;
  margin-bottom: 0;
  color: white;
  font-weight: 600;
  font-size: 15px;
}
.column1 figure img,
.column2 figure img,
.column3 figure img {
  width: 42%;
  height: auto;
  border-radius: unset !important;
}
.column1 {
  background-image: url(../nde/assets/images/Bridge2.png);
  position: relative;
  margin-right: -3.55%;
}
.column2 {
  background-image: url(../nde/assets/images/pavement21.png);
  margin-right: -3.55%;
  z-index:9;
}
.column3 {
  /*background-image: url(../nde/assets/images/tunnel111.png);
	background-image: url('https://dummyimage.com/500x300/000/fff');*/
  background-image: url(../nde/assets/images/Tunnel_R2.png);

  position: relative;
}
.nde-container {
  margin-top: 5px;
}
.entry-content .wp-block-columns {
  margin-bottom: 5px !important;
}
.content-col {
  padding-left: 5px !important;
}
.home-section-two-column h5 {
  background-color: #e9e9e9;
  padding: 5px 15px;
  font-weight: 700;
  font-size: 18px;
}
/**************** Filter Form ****************/
.filter-form-header a:hover {
  text-decoration: none;
  color: #fff;
}
/**************** Category Pages ****************/
.col-header {
  background-color: #767676;
  font-size: 16px;
  color: #fff;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header.entry-header {
  background-color: #767676;
  padding: 0.5rem;
  margin: 0.5rem 0;
  color: #fff;
}
header.entry-header h1 {
  font-size: 16px !important;
  margin-bottom: 0px !important;
}
.libraries .entry-content {
  padding: 0.5rem;
}
.tab-content .col-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.tab-content .col-header p {
  margin-bottom: 0px !important;
}
.site-header .nde-container {
  margin-top: 0px !important;
}
.filter-form {
  margin-top: 5px;
}
.filter-form label {
  background-color: #c7c7c7;
  width: 100%;
  font-weight: 500;
  font-size: 16px;
  margin-bottom: 0;
}

.filter-form-mobile label {
  background-color: transparent;
  width: 100%;
  font-weight: 600;
  font-size: 14px;
  margin-bottom: 0;
}
.select-filter-list {
  appearance: none;
  background-color: transparent;
  border-top: 0;
  padding: 0px 10px;
  width: 100%;
  outline: none;
  overflow: hidden;
  max-height: auto;
  overflow: auto;
  margin: 10px 0px;
}
::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.26);
}
::-webkit-scrollbar {
  width: 10px;
}
.filter-form-mobile .select-filter-list {
  background-color: transparent;
  appearance: revert !important;
  padding: 5px;
  margin-bottom: 10px;
  width: 96%;
  outline: none;
  overflow: hidden;
  min-height: 30px;
  margin: 0 7px;
  border: 1px solid #ccc !important;
  font-size: 14px;
}
.card-list {
  border-top: 0;
  padding: 10px;
  width: 100%;
}
.select-filter-list li,
.related-technology li {
  padding: 2px 0px;
  appearance: none;
  color: #000 !important;
  cursor: pointer;
  font-size: 14px;
  margin: 0 2px;
  list-style: none;
  display: flex;
  align-items: center;
}
.tab-content ul,
.tab-content ol,
.tab-content table {
  font-size: 14px;
}
.search-page article {
  margin-top: 15px;
  border-bottom: 1px solid #c7c7c7;
  -moz-box-shadow: 0 4px 6px -6px #222;
  box-shadow: 1px 8px 6px -8px #cecec5;
}
.search-page .entry-title a {
  color: #2b8fca;
  font-size: 16px;
  text-decoration: underline;
}

.home-section-two-column:nth-child(2) {
  margin-left: 6px !important;
}

.select-filter-list li.active,
.related-technology li.active {
  font-weight: 400;
  outline: 0;
}
.filtered-content {
  display: flex;
  flex-wrap: wrap;
  margin-top: 5px;
}
.card-list .card {
  flex-basis: 98%;
  background-color: #f4f4f4;
  border: 0;
  border-radius: 0;
  margin-bottom: 1.3%;
  padding: 13px 15px;
}
.card-list .card.active {
  background-color: #bed1e7;
}
#struct-elem,
#tgt-of-inv {
}
.filtered-content .card {
  flex-basis: 32.99%;
  background-color: #f4f4f4;
  border: 0;
  border-radius: 0;
  margin-bottom: 0.45%;
  padding: 10px;
}
.filtered-content .card:hover,
.related-technology .card:hover {
  background: #dddddd;
}
.filtered-content .card > img {
  width: 38px;
  margin-bottom: 10px;
}
.card-list .card > img {
  width: 32px;
  margin-bottom: 5px;
}
.filtered-content .card-body,
.card-list .card-body {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.filtered-content .card p,
.card-list .card-body p {
  margin: 0 !important;
  font-size: 16px;
  font-weight: 400;
  padding: 5px 10px;
  /* max-width: 98%; */
  line-height: 22px;
  height: 55px;
  width: 100%;
}
.filtered-content .card .box-icon p {
  display: flex;
  align-items: center;
}
.card-list .card-body p {
  max-width: 90%;
  font-size: 14px;
}
.card-list .card:last-child {
  margin-bottom: 0;
}

/**************** Single Page ****************/
.single-page-content {
  width: 100%;
}
.single-page-content > .col-header {
  background-color: #fff;
  color: #000;
  display: flex;
  align-items: center;
}
.single-page-content .col-header ul {
  width: 100%;
  border-bottom: 1px solid #aaaaaa;
}
.single-page-content .col-header ul li {
  flex-basis: 25%;
}
.single-page-content .col-header ul li .tab-links {
  color: #000;
  text-align: center;
  border: 1px solid #ccc;
  font-size: 14px;
  font-weight: 400;
  padding: 6px 4px;
  position: relative;
  top: 1px;
  background: #e9e9e9;
  border-left: none;
}

.single-page-content .col-header ul li:first-child .tab-links {
  border-left: 1px solid #ccc;
}
.tab-content {
  border: 1px solid #ccc;
  padding: 5px 0px;
  position: relative;
  border-top: none;
  padding-bottom: 10px;
  /*min-height: 400px;*/
}
.tab-content p,
.tab-content figure,
.tab-content figure figcaption {
  padding: 0px 9px;
}
.image-left figure,
.searchpage .entry-content .wp-block-image figure,
.tab-content figure {
  margin-left: 0px !important;
  width: 100%;
}
.tab-content figure {
  margin: 0 0 10px;
}
.tab-content img {
  max-width: 500px;
}
.caption-right-image {
  display: flex;
  font-family: arial;
  font-size: 14px;
  justify-content: flex-start;
  font-style: italic;
}
.single-page-content .col-header ul li .tab-links p {
  font-weight: 500;
  margin-bottom: 0px !important;
}
.single-page-content .col-header ul li .tab-links.active {
  background-color: white;
  border-bottom: none;
  height: 35px;
}
.single-page-content .tab-content .col-header {
  background-color: #c7c7c7;
  color: #000;
}
.wpcf7 form .wpcf7-response-output {
  margin: 12px 0px;
  padding: 5px 8px;
}
.aa-headings {
  background-color: #767676;
  padding: 0.5rem;
  margin: 0.5rem 0;
  color: #fff;
  font-size: 16px;
}
.tab-pane figcaption {
  font-style: italic;
  margin-top: 0px;
  margin-bottom: 0px;
}

/**************** Contact Page ****************/

.contact-form-col {
  padding: 20px 30px;
  background-color: #e9e9e9;
}
#wpcf7-f249-o1 {
  width: 100%;
}
.wpcf7-form .form-group input {
  border-radius: 0;
}

/**************** Library Page ****************/
.jsgrid-filter-row > .jsgrid-cell {
  background: #c7c7c7 !important;
  position: relative;
}
.jsgrid-cell input[placeholder] {
  font-size: 12px !important;
}
#clear-input {
  position: absolute;
  right: 15px;
}
#clear-input img {
  width: 13px;
}
.jsgrid-grid-body {
  font-size: 14px;
}
.contact-img-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
/**************** Footer ****************/
.site-footer {
  background-color: #e9e9e9;
  font-size: 12px;
  padding: 10px 0;
  margin-top: auto;
  margin-top: 15px;
}
.footer-info {
  max-width: 85%;
}
#footer-menu {
  margin-bottom: 5px;
}
.footer-menu-col {
  border-left: 1px solid;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.menu-footermenu-container ul,
.menu-footermenutwo-container ul {
  list-style: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  font-size: 11px;
  line-height: normal;
}
.get-single-page {
  cursor: pointer;
}
.footer-menu-col {
  max-width: 775px !important;
  min-width: 775px;
}

.menu-footermenu-container,
.menu-footermenutwo-container {
  overflow-x: hidden;
}
.menu-footermenu-container ul,
.menu-footermenutwo-container ul {
  list-style-type: none;
  position: relative;
  left: -5px;
  padding: 0;
}
.menu-footermenu-container ul li,
.menu-footermenutwo-container ul li {
  display: inline-block;
  padding: 0 5px;
  margin-bottom: 5px;
  border-left: 1px solid;
}

#menu-item-49:before {
  content: none !important;
}
.menu-footermenu-container ul li a {
  color: #000;
  text-decoration: underline;
}
.menu-footermenutwo-container ul {
  margin: 0;
}
.menu-footermenutwo-container ul li a {
  color: #000;
}
.content-col {
  max-width: 81.7%;
  flex: 0 0 81.7%;
}
.light-font .breadcrumb-item + .breadcrumb-item::before {
  color: #fff;
}
.light-font .breadcrumb-item.active {
  color: #cfd8dc;
}
.breadcrumb li a {
  color: #000;
  font-size: 13px;
}
.breadcrumb li a:hover {
  color: #007bff;
}
.breadcrumb li:last-child a:hover {
  color: #000;
}
.breadcrumb {
  background: transparent;
  padding: 5px 7px !important;
  margin-bottom: 5px;
  border-radius: 0px;
}
.breadcrumb-container {
  display: flex;
  font-size: 13px;
}
.breadcrumb-container > span {
  padding: 5px 9px !important;
  margin-bottom: 5px;
}
.breadcrumb-container > span span {
  margin-left: 3px;
}
.breadcrumb li:last-child a {
  cursor: text;
}
.light-font .breadcrumb-item + .breadcrumb-item::before {
  color: #000;
}
.breadcrumb-item + .breadcrumb-item::before {
  float: left;
  padding-right: 5px;
  color: #6c757d;
  content: '>';
}
.export-pdf {
  background: #e0e0e0;
  width: auto;
  height: 28px;
  outline: none;
  border: none;
  font-size: 12px;
  margin-right: 10px;
}
#footer-menu-2 li:not(:nth-child(1)):not(:nth-child(5)) {
  pointer-events: none;
  cursor: default;
}
#footer-menu-2 li:nth-child(1) a,
#footer-menu-2 li:nth-child(5) a {
  text-decoration: underline;
}
.footer-logo-col img {
  image-rendering: pixelated;
}
/********************************************/
/**************** Responsive ****************/
/********************************************/

/**************** Home ****************/

@media (min-width: 769px) {
  .navbar-toggler {
    display: none;
  }
  .single-page-content.mobile-view {
    display: none;
  }
  #primary-menu .sub-menu {
    display: none;
    z-index: 99;
  }
  #primary-menu li:hover > ul.sub-menu {
    display: block;
  }

  .no-desktop-view {
    display: none !important;
  }
  .filter-side-bar {
    flex: 0 0 260px;
    max-width: 260px;
  }
  #tgt-of-inv figure figcaption,
  #struct-elem figure figcaption,
  #title-content figure figcaption {
    padding: 0;
  }
  .styled-table table,
  .is-style-regular table {
    max-width: 500px !important;
  }
}

@media (min-width: 957px) {
}
/**************** Footer ****************/

@media (max-width: 1776px) {
  .content-col {
    max-width: 80%;
    flex: 0 0 80%;
  }
}
@media (max-width: 1656px) {
  .column1,
  .column2,
  .column3 {
    height: 220px;
  }
  .content-col {
    max-width: 79%;
    flex: 0 0 79%;
  }
}
@media (max-width: 1576px) {
  .content-col {
    max-width: 77%;
    flex: 0 0 77%;
  }
  .page-id-67 .filtered-content .card p {
    height: 65px;
  }
}
@media (max-width: 1456px) {
  .column1,
  .column2,
  .column3 {
    height: 205px;
  }
  .content-col {
    max-width: 76%;
    flex: 0 0 76%;
  }
  .filtered-content .card {
    flex-basis: 32.99%;
  }
  .column1 figcaption,
  .column2 figcaption,
  .column3 figcaption {
    font-size: 14px;
  }
  .column1 figure,
  .column2 figure,
  .column3 figure {
    width: 100px;
    height: 100px;
  }
  .column1 {
    margin-right: -3.43%;
  }
  .column2 {
    margin-right: -3.37%;
  }
  .filtered-content .card .card-body p,
  .card-list .card-body p {
    height: 58px;
  }
  .abvr-title {
    width: 80px !important;
  }
  .page-id-69 .filtered-content .card p {
    height: 65px;
  }
  .page-id-71 .filtered-content .card p {
    height: 65px;
  }
  .page-id-67 .filtered-content .card p {
    height: 65px;
  }
}
@media (max-width: 1356px) {
  .column1,
  .column2,
  .column3 {
    height: 190px;
  }
  .column1 {
    margin-right: -3.43%;
  }
  .column2 {
    margin-right: -3.37%;
  }
  .column1 figcaption,
  .column2 figcaption,
  .column3 figcaption {
    font-size: 13px;
  }
  .column1 figure,
  .column2 figure,
  .column3 figure {
    width: 90px;
    height: 90px;
  }
  .content-col {
    max-width: 73%;
    flex: 0 0 73%;
  }
  .content-col {
    padding-left: 5px !important;
    max-width: 73%;
  }
  #fhwaheader ul.dropdown .arrow,
  .mncontact {
    margin-right: 2px !important;
  }
  .page-id-67 .filtered-content .card p {
    height: 75px;
  }
  .page-id-71 .filtered-content .card p {
    height: 75px;
  }
}
@media (max-width: 1316px) {
  .page-id-69 .filtered-content .card p,
  .page-id-67 .filtered-content .card p {
    height: 80px;
  }
  .filtered-content .card {
    flex-basis: 49.4%;
    margin-bottom: 5px;
  }
  .filtered-content .card:not(:nth-child(2n)) {
    margin-right: 0.7%;
  }
  .page-id-67 .filtered-content .card p {
    height: 50px;
  }
}
@media (max-width: 1266px) {
  .column1,
  .column2,
  .column3 {
    height: 180px;
  }
  .column1 {
    margin-right: -3.43%;
  }
  .column2 {
    margin-right: -3.37%;
  }
  .column1 figcaption,
  .column2 figcaption,
  .column3 figcaption {
    font-size: 12px;
  }
  .column1 figure,
  .column2 figure,
  .column3 figure {
    width: 85px;
    height: 85px;
  }
  .filtered-content .card {
    flex-basis: 49.4%;
    margin-bottom: 5px;
  }
  .filtered-content .card:not(:nth-child(2n)) {
    margin-right: 0.7%;
  }
  .content-col {
    padding-left: 5px !important;
    max-width: 71%;
  }
  .imgdotfhwasm {
    width: 230px;
  }
  #fhwaheader ul.dropdown .arrow,
  .mncontact {
    margin-right: 0px !important;
  }
  .filtered-content .card .card-body p,
  .card-list .card-body p {
    height: 44px;
  }
  .page-id-69 .filtered-content .card p {
    height: 50px;
  }
  .page-id-67 .filtered-content .card p {
    height: 50px;
  }
  .page-id-71 .filtered-content .card p {
    height: 70px;
  }
}
@media (max-width: 1235px) {
  .footer-menu-col {
    border: 0;
  }
  .site-footer .row {
    flex-direction: column;
  }
}
@media (max-width: 1186px) {
  .column1,
  .column2,
  .column3 {
    height: 160px;
  }
  .content-col {
    padding-left: 5px !important;
    max-width: 70%;
  }

  .column1 figcaption,
  .column2 figcaption,
  .column3 figcaption {
    font-size: 12px;
  }
  .column1 figure,
  .column2 figure,
  .column3 figure {
    width: 80px;
    height: 80px;
  }
  .abvr-title {
    width: 100px !important;
  }
  .acronym-title {
    width: 75px !important;
  }
  .page-id-69 .filtered-content .card p,
  .page-id-67 .filtered-content .card p {
    height: 65px;
  }
}
@media (max-width: 1110px) {
  .imgdotfhwasm {
    width: 210px;
  }
  #fhwaheader ul.dropdown li a span {
    font-size: 12px;
    padding: 2px 4px 6px 0px;
  }
  .filtered-content .card .card-body p,
  .card-list .card-body p {
    height: 58px;
  }
}
@media (max-width: 1056px) {
  .column1,
  .column2,
  .column3 {
    height: 150px;
  }
  .column1 figcaption,
  .column2 figcaption,
  .column3 figcaption {
    font-size: 12px;
  }
  .column1 figure,
  .column2 figure,
  .column3 figure {
    width: 70px;
    height: 70px;
  }
  .filtered-content .card {
    flex-basis: 49.4%;
  }
  .filtered-content .card:not(:nth-child(2n)) {
    margin-right: 0.7%;
  }
  .content-col {
    padding-left: 5px !important;
    max-width: 66%;
  }
  .page-id-71 .filtered-content .card p {
    height: 90px;
  }
  .nde-container {
    margin: 10 auto;
    width: 85%;
  }
}
@media (max-width: 956px) {
  .column1,
  .column2,
  .column3 {
    height: 130px;
  }
  .filtered-content .card {
    flex-basis: 32.7%;
  }
  .column1 figcaption,
  .column2 figcaption,
  .column3 figcaption {
    font-size: 11px;
  }
  .column1 figure,
  .column2 figure,
  .column3 figure {
    width: 60px;
    height: 60px;
  }
  .socialbtns {
    display: none !important;
  }
  /**************** Category Pages ****************/
  .filtered-content .card {
    flex-basis: 49.4%;
  }
  .filtered-content .card:not(:nth-child(2n)) {
    margin-right: 0.8%;
  }
  .page-id-69 .filtered-content .card p,
  .page-id-67 .filtered-content .card p {
    height: 75px;
  }
  .page-id-71 .filtered-content .card p {
    height: 110px;
  }
}
@media (max-width: 948px) {
  .column1 {
    background-image: url(../nde/assets/images/bridge.png);
    margin-right: 0.8%;
  }
  .column2 {
    background-image: url(../nde/assets/images/pavement.png);
    margin-right: 0.8%;
  }
  .column3 {
    background-image: url(../nde/assets/images/caverock.jpg);
  }
  .column1 figure,
  .column2 figure,
  .column3 figure {
    width: 75px;
    height: 75px;
  }
  .filter-side-bar {
    flex: 0 0 210px !important;
    max-width: 210px !important;
  }
  .single-page-content .col-header ul li {
    flex-basis: 33%;
  }
  .abvr-title {
    width: 120px !important;
  }
  .acronym-title {
    width: 95px !important;
  }
}
@media (max-width: 899px) {
  .footer-menu-col {
    max-width: 97% !important;
    min-width: 79%;
  }
  .tab-content img {
    max-width: 100%;
  }
  .filtered-content .card {
    flex-basis: 99.6%;
  }
  .filtered-content .card:not(:nth-child(2n)) {
    margin-right: 0px;
  }
  .abvr-title {
    min-width: 130px !important;
  }
  .acronym-title {
    min-width: 85px !important;
  }
  .page-id-69 .filtered-content .card p,
  .page-id-67 .filtered-content .card p {
    height: 50px;
  }
  .page-id-71 .filtered-content .card p {
    height: 50px;
  }
}
@media (min-width: 480px) and (max-width: 600px){
.wp-block-column:not(:only-child) {
    flex-basis: 33.33% !important;
    flex-grow: 0;
}
}

@media (min-width: 600px) and (max-width: 768px){
.wp-block-column:not(:only-child) {
    flex-basis: calc(33.33%)!important;
    flex-grow: 0;
}
}
@media (min-width: 769px) and (max-width: 781px){
#primary .wp-block-column:not(:only-child) {
    flex-basis: calc(33.33% - 10px)!important;
    flex-grow: 0;
}
}
@media (max-width: 480px) {
	.column1:not(:only-child),
  .column2:not(:only-child),
 .column3:not(:only-child) {
    flex-basis: 100% !important;
    flex-grow: 0;
  }
}
@media (max-width: 768px) {
  .column1 {
    background-image: url(../nde/assets/images/bridge.png);
    position: relative;
    margin-right: 0%;
    background-position: center;
  }
  .column2 {
    background-image: url(../nde/assets/images/pavement.png);
    margin-right: 0%;
    background-position: center;
  }
  .column3 {
    background-image: url(../nde/assets/images/caverock.jpg);
    position: relative;
    background-position: center;
  }
  #page > .nde-container {
    margin-top: 10px;
  }
  .home #page > .nde-container {
    margin-top: 0px;
  }
  .single-page-content.mobile-view {
    display: block;
  }
  .single-page-content.desktop-view {
    display: none;
  }
  #accordion .card {
    background: white !important;
    padding: 0px !important;
    margin-bottom: 5px;
  }
  #accordion .card .card-header {
    border-bottom: none !important;
    border: 1px solid #d9d9d9 !important;
    cursor: pointer;
    padding-left: 35px !important;
    padding-top: 8px;
    padding-bottom: 8px;
    background: #c7c7c7;
  }
  #accordion .card .card-header {
    background-image: url('./assets/images/minus-icon.png');
    background-size: auto;
    background-position: 4px 7px;
    background-repeat: no-repeat;
  }
  #accordion .card .card-header.collapsed {
    background-image: url('./assets/images/plus-icon.png');
    background-size: auto;
    background-position: 4px 7px;
    background-repeat: no-repeat;
  }
  #accordion .card .collapse,
  #accordion .card .collapsing {
    border: 1px solid #d9d9d9 !important;
    border-top: none !important;
  }
  #accordion .card .collapse .card-body,
  #accordion .card .collapsing .card-body {
    display: inline-block;
    padding: 15px 10px;
    font-size: 14px;
    width: 100%;
  }
  #accordion .card .collapse .card-body p,
  #accordion .card .collapsing .card-body p,
  #accordion .card .collapse .card-body img {
    padding: 5px 5px;
    max-width: 100%;
    height: auto;
  }
  #accordion .card .collapse .card-body p,
  #accordion .card .collapsing .card-body p,
  #accordion .card .collapse .card-body ul,
  #accordion .card .collapsing .card-body ul {
    font-size: 14px;
  }
  .mobile-menu-plus-icon {
    position: absolute;
    right: 10px;
    top: 5px;
  }
  .help-collapse-menu .mobile-menu-plus-icon {
    top: 12px;
  }
  .left_sidebar {
    display: none;
  }
  .column1 figure,
  .column2 figure,
  .column3 figure {
    width: 75px;
    height: 75px;
  }
  #accordion figcaption {
    padding: 0px 7px;
  }
/*   .column1:not(:only-child),
  .column2:not(:only-child),
  .column3:not(:only-child) {
    flex-basis: 100% !important;
    flex-grow: 0;
  } */

  .footer-menu-col {
    max-width: 100% !important;
    min-width: 100%;
  }
  .socialbtns,
  .search-form {
    display: none !important;
  }
  #responsive-menu.collapse:not(.show),
  #responsive-searchbar.collapse:not(.show) {
    display: none;
  }
  .single-page-content .col-header ul li {
    flex-basis: 33%;
  }
  .filtered-content {
    margin-top: 5px;
  }
  #masthead {
    position: relative;
    box-shadow: -1px 5px 7px 1px #e4e2e2b0;
  }
  #responsive-menu,
  #responsive-searchbar {
    position: absolute;
    top: 69px;
    width: 100%;
    height: auto;
  }
  .card-body .col-header {
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
    display: flex;
  }
  .card-body .col-header .export-pdf {
    height: 24px !important;
    width: 100px;
  }
  .searchForm {
    width: auto;
  }
  .searchForm label {
    display: none;
  }
  .searchForm .img-btn {
    width: 60px;
    outline: none;
    height: 34px;
    position: relative;
    top: 0px;
  }
  .px-xs-2 {
    padding: 0 16px;
  }
  #responsive-menu {
    z-index: 50;
  }
  #responsive-searchbar {
    z-index: 30;
    padding: 10px;
  }
  #primary-menu > li {
    display: block;
    float: none;
    position: relative;
    border-bottom: 1px solid #ccc;
    padding: 5px 5px;
  }
  #primary-menu .current-menu-parent > a,
  #primary-menu > .current_page_item > a {
    color: #504a4a;
  }
  #primary-menu .current-menu-parent,
  #primary-menu > .current_page_item,
  #primary-menu > .current_page_item:hover {
    background: transparent !important;
  }
  #primary-menu > .current-menu-ancestor,
  #primary-menu > .current_page_item,
  #primary-menu > .current_page_item:hover {
    background: transparent !important;
  }
  #primary-menu > .current-menu-ancestor > a,
  #primary-menu > .current_page_item > a {
    color: #222 !important;
  }
  #primary-menu > li:last-child {
    border-bottom: none;
  }
  .site-header .row {
    align-items: Center;
  }
  .site-branding img {
    image-rendering: -webkit-optimize-contrast;
    position: relative;
    top: 4px;
  }
  #primary-menu {
    display: block;
    width: 100%;
    height: auto;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  #primary-menu > li:hover {
    background: transparent;
  }
  #primary-menu > li ul.sub-menu {
    border-left: 3px solid #767676;
    margin-top: 6px;
    margin-left: 6px;
    width: 100%;
  }
  #primary-menu li ul.sub-menu li {
    position: relative;
  }
  #primary-menu > li:hover ul.sub-menu {
    box-shadow: none;
  }
  .home #primary .nde-container {
    padding: 0;
  }
  ul.sub-menu li {
    background: transparent;
          border-bottom: none;
  }
  ul.sub-menu li a {
    padding: 5px 8px;
  }
  .nde-container,
  .fhwacontainer {
    margin: auto;
    width: 100%;
    padding: 0 15px;
  }
  .navbar-toggler {
    display: block;
    margin-top: 2px;
  }
  .menu-footermenu-container {
    padding: 10px 0 0 0;
  }
  #primary-menu .sub-menu {
    position: static !important;
    display: none;
  }

  .mobile-menu-plus-icon {
    display: block;
  }
  .contact-img-container {
    padding-left: 0;
    padding-right: 0 !important;
    margin-bottom: 0px;
  }
  .contact-img-container img {
    height: 400px;
  }
  .top-menu {
    display: none;
  }
  .wp-block-image .aligncenter > figcaption,
  .wp-block-image .alignleft > figcaption,
  .wp-block-image .alignright > figcaption {
    font-style: italic;
    padding: 0px 8px;
    margin: 0;
  }
  .page-id-186 .nde-container {
    margin-top: 5px !important;
  }
}
@media (max-width: 600px) {
  .home-section-two-column h5 {
    margin: 5px 5px;
  }
  .home-section-two-column p {
    text-align: justify;
  }
  .home-section-two-column:nth-child(2) {
    margin-left: 0 !important;
  }
  .jsgrid-grid-body td {
    text-align: justify;
  }
  .jsgrid-grid-body .jsgrid-cell:first-child {
    word-break: break-word;

    width: 38% !important;
  }
  .jsgrid-header-row .jsgrid-header-cell:first-child {
    width: 38% !important;
  }
  .post-186,
  .post-252 {
    margin-top: 10px;
  }
  #post-252 #pageSize {
    margin-top: 5px;
  }
  .jsgrid-pager-container {
    width: 100%;
  }
  .jsgrid-pager {
    text-align: center;
  }
  .codo-items-info {
    position: relative;
    top: 5px;
    left: 5px;
  }
  .divNotificationMessageGap {
    display: none !important;
  }
  .divNotificationMessage {
    font-size: 8pt;
    position: relative;
    top: 0px !important;
  }
}
@media (max-width: 568px) {
  .site-branding img {
    width: 220px;
    top: 3px;
  }
  .justify-content-between {
    justify-content: space-between;
  }
  .filter-side-bar {
    flex: 0 0 100% !important;
    max-width: 100% !important;
    margin-bottom: 10px;
  }
  .flex-wrap-inherit {
    flex-wrap: wrap;
  }
  .site-branding {
    max-width: 65% !important;
  }
  .responsive_menu {
    max-width: 35%;
  }
  #primary-menu > li.current-menu-parent:hover {
    background: transparent !important;
  }
  .breadcrumb-container > span {
    min-width: 65px;
  }
  .column1 figure,
  .column2 figure,
  .column3 figure {
    width: 80px;
    height: 80px;
  }
  .filtered-content .card {
    flex-basis: 100%;
    margin-right: 0 !important;
    margin-bottom: 5px;
  }
  .single-page-content .col-header ul li {
    flex-basis: 100%;
  }
  .form-container-mobile {
    display: block;
  }
  .form-container {
    display: none;
  }
  .content-col {
    padding-left: 0 !important;
    margin-top: 10px !important;
    max-width: 100%;
    flex: 0 0 100%;
  }
  .footer-logo-col,
  .menu-footermenu-container {
    margin-bottom: 5px;
  }
  /*.export-pdf {
    width: 130px;
  }*/
  .export-pdf {
    display: none;
  }
}
@media (max-width: 928px) {
  .form-row .form-group label {
    height: 40px;
  }
  .page-id-770 .form-row .form-group label {
    height: auto;
  }
}
@media (min-width: 769px) and (max-width: 830px) {
  .tab-content img {
    width: 100%;
  }
}
@media (min-width: 569px) and (max-width: 948px) {
  .w-100 {
    width: calc(100% - 210px) !important;
  }
  .left_sidebar a:nth-child(4) {
    padding: 8px 10px;
    height: 45px;
  }
}
.black-color {
  color: #000;
}
.black-color:hover {
  color: #000;
  text-decoration: none;
}
@media (max-width: 715px) {
  #post-186 .wp-block-columns {
    flex-direction: column;
  }
}
@media (min-width: 601px) and (max-width: 1056px) {
  .post-252 .aa-headings {
    margin-top: 0.5rem;
  }
}

@media (min-width: 769px) and (max-width: 1180px) {
.single-page-content .col-header ul li{
    flex-basis: 33.333% !important;
}
}

@media (min-width: 769px) and (max-width: 780px) {
.card-body .col-header .p-2 {
    font-size: 13px !important;
}
}

@media (max-width: 1024px){
.nde-container {
    margin: 10px auto;
    width: 100%;
    padding: 0 15px;
}
}

.box-icon .card-img-top {
  width: 25px !important;
}
.filtered-content .card .box-icon img:nth-child(3) {
  width: 18px;
  height: 12px;
}
.filtered-content .box-icon p {
  font-size: 14px;
  padding: 5px 10px !important;
  height: 35px !important;
  line-height: initial;
}
.filtered-content .card {
  padding: 5px 10px;
}
.technology-link {
  background: #e0e0e0;
  width: auto;
  height: 28px;
  outline: none;
  border: none;
  font-size: 12px;
  margin-right: 10px;
  margin-left: auto;
}
.aa_error {
    border-top: 3px solid;
    background: rgba(255,65,73,.1);
    color: #f4000a;
    font-size: 14px;
    padding: 10px;
}
.nde-container,.fhwacontainer,.wp_login_form {
    margin: 10px auto;
    width: 100%;
    padding: 0 15px;
    padding-left: calc(5% - 12px);
    padding-right: calc(5% - 12px);
    max-width: 1600px;
} 
  .wp_login_form_row {
    width: 50%;
    border: 1px solid #ddd;
    padding: 15px;
}

form#loginform label, form#loginform #user_login, form#loginform #user_pass {
    width: 100%;
}
form#loginform #user_login, form#loginform #user_pass {
    width: 100%;
	background: #eee;
	border: none;
    padding: 6px;
}
input#wp-submit {
    background: #2a69b1;
    color: #fff;
    border: none;
    width: 80px;
    padding: 8px 13px;
}
.form_heading {
    font-size: 21px;
    color: #2a69b1;
    margin-bottom: 5px;
    font-weight: 700;
    margin-left: 3px;
}
.wp_login_form_row {
    width: 50%;
    border: 1px solid #ddd;
    padding: 15px;
    max-width: 580px;
}
@media (max-width: 767px) {
.wp_login_form_row {
    width: 100%;
  }
}